{% extends 'layout.html' %}

{% block contend %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/prettyNum/add/">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建靓号
            </a>
        </div>

       <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          靓号列表
      </div>

      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>号码</th>
            <th>价格</th>
            <th>级别</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
            {% for roe in PrettyNum %}
                <tr>
                    <th>{{ roe.id }}</th>
                    <th>{{ roe.mobile }}</th>
                    <td>{{ roe.price }}</td>
                    <td>{{ roe.get_level_display }}</td>
                    <td>{{ roe.get_status_display }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="#">编辑</a>
                        <a class="btn btn-danger btn-xs" href="#">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    </div>
{% endblock %}